*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.tmp
*.pid
*.swp
*.bak
*.orig
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tgz
*.gz
*.rar
*.7z
.env
.vscode
.idea
coverage.out
.scannerwork
cmd/api/__debug*
